.embla {
    height: 100%;

    --slide-spacing: 0rem;
    --slide-size: 100%;

    .embla__viewport {
        overflow: hidden;

        height: 100%;

        .embla__container {
            display: flex;

            height: 100%;

            margin-top: calc(var(--slide-spacing) * -1);

            flex-direction: column;

            touch-action: pan-y pinch-zoom;
            .embla__slide {
                height: 100%;

                padding-top: var(--slide-spacing);

                flex: 0 0 var(--slide-size);

                transform: translate3d(0, 0, 0);
                img,video {
                    width: 100%;
                    height: 100%;

                    object-fit: cover;
                    @media screen and (min-width: 500px) {
                        width: auto;

                    }
                }
            }
        }
    }
}
