<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>404274633005-kurci6bni9omdr2ca3ub5esamoioca85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.404274633005-kurci6bni9omdr2ca3ub5esamoioca85</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>404274633005-79ka0cqnsk24b39s8nq4kme3e8cmres4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_SVoIRUzw-QKbVVS4B-78gjpGen9j6VA</string>
	<key>GCM_SENDER_ID</key>
	<string>404274633005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gontrel.gontrel</string>
	<key>PROJECT_ID</key>
	<string>laxlee</string>
	<key>STORAGE_BUCKET</key>
	<string>laxlee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:404274633005:ios:593405add5c8a1a7ec1ba4</string>
	<key>DATABASE_URL</key>
	<string>https://laxlee-default-rtdb.firebaseio.com</string>
</dict>
</plist>